<h1>New Song</h1>

<form action="/create_song">
  <div>
    <label for="name">Name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="artist_id">Artist_id</label><br />
    <input id="artist_id" name="artist_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

